@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root{
    --primary: #9ef1ac;
    --secondary: #e4f588;
    --btnThree: #6085ff;
    --btnFour: #c18df1;
    --btnFive: #54dbfd;
    --bgColor: #dddddd;
    --shadow: rgba(122, 123, 124, 0.3) 0px 8px 24px;
}
* {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.header {
    width: 100vw;
    height: 50px;
    background-color: #202020;
}

.header h2 {
    margin-left: 60px;
    line-height: 50px;
    color: #fff;
}


/*__________________________Cards__________________________*/
.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 30px;
}

.card {
    width: 250px;
    height: 200px;
    background-color: var(--bgColor);;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin: 5px;
    padding: 30px;
    display: grid;
}

.money {
    display: flex;
    justify-content: space-between;
}

select {
    color: #b8b8b8;
    border: 1px solid #b8b8b8;
    line-height: 1;
    outline: 0;
    padding: 0.65em 2.5em 0.55em 0.75em;
    border-radius: 5px;
    background-color: #ffffff;
    background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
    cursor: pointer;
}
select option:checked {
    background-color: #32dac5;
    color: #000;
}
.feature{
    margin-top: 10px;
    font-size: small;
}

/*_____________________Buttons__________________________*/
button {
    cursor: pointer;
    font-weight: 800;
    height: 40px;
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: var(--shadow)
}

#btnLoan {
    border-color: var(--primary);
    background-color: var(--primary);
    width: 100%;
}

.buttonContainer {
    display: grid;
}

#btnBank {
    grid-column: 1;
    place-self: center;
    border-color: var(--secondary);
    background-color: var(--secondary);
}

#btnWork {
    grid-column: 2;
    place-self: center;
    border-color: var(--btnThree);
    background-color: var(--btnThree);
}

#btnRepay {
    place-self: center;
    width: 100%;
    border-color: var(--btnFour);
    background-color: var(--btnFour);
}

/*______________________Big container__________________________*/


#bigCard {
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    gap: 0.5rem;
    background-color: var(--bgColor);;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.cardGrid {
    padding: 1rem;
    height: 4rem;
}

img {
    width: 100px;
}

#price {
    place-items: center;
}

#bigCard button {
    width: 80%;
    border-color: var(--btnFive);
    background-color: var(--btnFive);
    text-transform: uppercase;
}

/*____________________Media queries for responsive design on big card______________________*/
@media (min-width: 200px) {
    #bigCard {
        grid-template-columns: repeat(2, 1fr);
    }

    #gridImg {
        place-self: center;
        grid-column: 2;
        grid-row: 2 / span 2;
    }
}

@media (min-width: 550px) {
    #bigCard {
        grid-template-columns: repeat(3, 1fr);
    }

    #gridImg {
        grid-column: 1;
        grid-row: 1 / span 2;
        place-self: center;
    }
}